{% extends "base.jinja" %}
{% from "macro/form.jinja" import form_style2 %}

{% block title %}Flag{% endblock title %}

{% block style %}
<style>
    html,
    body {
        height: 100%;
    }
    body {
        display: flex;
        align-items: center;
        padding-top: 40px;
        padding-bottom: 40px;
    }
    .flag_form {
        max-width: 330px;
        padding: 15px;
    }
    .form-floating {
        margin-bottom: 10px;
    }
</style>
{% endblock style %}

{% block body %}
<body class="text-center">
    <main class="flag_form w-100 m-auto">
        {{ form_style2(
            "提交 flag",
            "/flag",
            form,
            "Go!",
            msgs.get("flag_submit_from")
        ) }}
        没有 token? <a href="/token">在这里获取</a>
    </main>
</body>
{% endblock body %}

