{% extends "base.jinja" %}
{% from "macro/form.jinja" import form_style2 %}

{% block title %}Token{% endblock title %}

{% block style %}
<style>
    html,
    body {
        height: 100%;
    }
    body {
        display: flex;
        align-items: center;
        padding-top: 40px;
        padding-bottom: 40px;
    }
    .get_token_form {
        max-width: 330px;
        padding: 15px;
    }
    .form-floating {
        margin-bottom: 10px;
    }
</style>
{% endblock style %}

{% block body %}
<body class="text-center">
    <div class="get_token_form w-100 m-auto">
        {{ form_style2(
            "获取你的 token",
            "/token",
            form,
            "Submit",
            msgs.get("get_token_form")
        ) }}
        已经有 token 了? <a href="/flag">到这里提交 flag</a>
    </div>
</body>
{% endblock body %}

