{% macro default_navbar(title, left_items, right_items) %}
<nav class="navbar navbar-expand-md navbar-dark bg-dark mb-4">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">{{ title }}</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
            data-bs-target="#navbarCollapse" aria-controls="navbarCollapse"
            aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
            <ul class="navbar-nav me-auto mb-2 mb-md-0">
            {% for item in left_items %}
                {% if item[0]=='a' %}
                <li class="nav-item">
                    <a class="nav-link active" href="{{ item[1] }}">
                    {{ item[2] }}
                    </a>
                </li>
                {% elif item[0]=='btn' %}
                <button class="btn btn-primary">
                    {{ item[1] }}
                </button>
                {% endif %}
            {% endfor %}
            </ul>
            <ul class="navbar-nav">
            {% for item in right_items %}
                {% if item[0]=='a' %}
                <li class="nav-item">
                    <a class="nav-link active" href="{{ item[1] }}">
                    {{ item[2] }}
                    </a>
                </li>
                {% elif item[0]=='btn' %}
                <button class="btn btn-primary">
                    {{ item[1] }}
                </button>
                {% endif %}
            {% endfor %}
            </ul>
        </div>
    </div>
</nav>
{% endmacro %}
