{% extends "base.jinja" %}
{% from 'macro/navbar.jinja' import default_navbar %}
{% from 'macro/form.jinja' import form_style1 %}

{% macro render_redbag_update_form(form, redbag)  %}
<form class="form text-center" action="/admin/update_redbag" method="post">
{{ form.csrf_token }}
<input name="redbag_id" type="hidden" value="{{ redbag.id }}">
<div class="form-group">
    {{ form.name.label }}
    {{ form.name(value=redbag.name, class='form-control') }}
</div>
<div class="form-group">
    {{ form.password.label }}
    {{ form.password(value=redbag.password, class='form-control') }}
</div>

<button class="btn btn-sm btn-success">确认</button>
</form>
{% endmacro %}

{% block title %}DashBoard{% endblock title %}

{% block style %}
<style>
    .table-btn {
        padding: 0;
    }
    .dropdown-menu {
        min-width: 200px;
    }
    .form input {
        margin-bottom: 3px;
    }
</style>
{% endblock style %}

{% block body %}
<body>
    {{ default_navbar(
        '题目管理',
        [
            ('a', '/admin', '题目管理'),
            ('a', '/admin/users', '用户管理'),
            ('a', '/admin/settings', '设置')
        ],
        [
            ('a', '/admin/logout', '退出登录')
        ]
    ) }}
    <main class="container">
        <h1>题目列表</h1>
        <table class="table table-bordered text-center">
            <thead class="table-primary">
                <tr>
                    <th>id</th>
                    <th>题目名称</th>
                    <th>方向</th>
                    <th>Flag</th>
                    <th>对应红包</th>
                    <th>操作</th>
                </tr>
            </thead>
            <tbody>
                {% for topic in topics %}
                <tr>
                    <td>{{ topic.id }}</td>
                    <td>{{ topic.name }}</td>
                    <td>{{ topic.type.content }}</td>
                    <td>{{ topic.flag }}</td>
                    <td>{{ topic.redbag.name }}({{ topic.redbag }})</td>
                    <td>
                    <form action="/admin/del_topic" method="post">
                        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
                        <input name="topic_id" type="hidden" value="{{ topic.id }}">
                        <button type="submit" class="btn btn-sm btn-danger">删除</button>
                    </form>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        
        <h1>红包列表</h1>
        <table class="table table-bordered text-center">
            <thead class="table-danger">
                <tr>
                    <th>id</th>
                    <th>红包名称</th>
                    <th>口令</th>
                    <th>操作</th>
                </tr>
            </thead>
            <tbody>
                {% for redbag in redbags %}
                <tr>
                    <td>{{ redbag.id }}</td>
                    <td>{{ redbag.name }}</td>
                    <td>{{ redbag.password }}</td>
                    <td>
                        <div class="container">
                            <div class="row">
                                <div class="table-btn col-md-2"></div>
                                <div class="table-btn dropdown col-md-4">
                                    <button
                                    type="button"
                                    class="btn btn-sm btn-primary"
                                    data-bs-toggle="dropdown">编辑</button>
                                    <div class="dropdown-menu px-1 py-1">
                                        {{ render_redbag_update_form(
                                            redbag_update_form,
                                            redbag
                                        ) }}
                                    </div>
                                </div>
                                <form action="/admin/del_redbag" method="post"
                                    class="table-btn col-md-4">
                                    <input name="csrf_token" type="hidden" value="{{ csrf_token() }}" />
                                    <input name="redbag_id" type="hidden" value="{{ redbag.id }}">
                                    <button type="submit" class="btn btn-sm btn-danger">删除</button>
                                </form>
                            </div>
                        </div>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>

        <div class="row">
            <div class="col-md-6">
                {{ form_style1(
                    "添加题目",
                    "/admin/create_topic",
                    topic_create_form,
                    "添加",
                    msgs.get("topic_create_form")
                ) }}
            </div>
            <div class="col-md-6">
                {{ form_style1(
                    "添加红包",
                    "/admin/create_redbag",
                    redbag_create_form,
                    "添加",
                    msgs.get("redbag_create_form")
                ) }}
            </div>
        </div>

    </main>
</body>
{% endblock body %}

