{% extends "base.jinja" %}
{% from "macro/form.jinja" import form_style2 %}

{% block title %}Login{% endblock title %}

{% block style %}
<style>
    html,
    body {
        height: 100%;
    }
    body {
        display: flex;
        align-items: center;
        padding-top: 40px;
        padding-bottom: 40px;
    }
    .form-floating {
        margin-bottom: 10px;
    }
</style>
{% endblock style %}

{% block body %}
<body class="text-center">
    <main class="m-auto">
        {{ form_style2(
            "Login",
            "/admin/login",
            form,
            "登录",
            msgs.get("login_form")
        ) }}
    </main>
</body>
{% endblock body %}
