{% from "macro/navbar.jinja" import default_navbar %}

{% macro admin_navbar(title="红包题平台") %}
{{ default_navbar(
    title,
    [
        ('a', '/admin', '题目管理'),
        ('a', '/admin/users', '用户管理'),
        ('a', '/admin/settings', '设置')
    ],
    [
        ('a', '/admin/logout', '退出登录')
    ]
) }}
{% endmacro %}

