{% extends "base.jinja" %}
{% from "macro/navbar.jinja" import default_navbar %}
{% from "macro/form.jinja" import form_style2 %}
{% from "macro/flash_toast.jinja" import flash_toast %}

{% block title %}Manage Users{% endblock title %}

{% block style %}
<style>
    .form-floating {
        margin-bottom: 10px;
    }
</style>
{% endblock style %}

{% block body %}
<body>
    {{
        default_navbar(
            '用户管理',
            [
                ('a', '/admin', '题目管理'),
                ('a', '/admin/users', '用户管理'),
                ('a', '/admin/settings', '设置')
            ],
            [
                ('a', '/admin/logout', '退出登录')
            ]
        )
    }}
    <div class="container">
        <h1>普通用户</h1>
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>id</th>
                    <th>用户名</th>
                    <th>Token</th>
                    <th class="text-center">操作</th>
                </tr>
            </thead>
            <tbody>
                {% for user in users %}
                    
                    <tr class="{% if user.ban %}table-danger{% endif %}">
                        <td>{{ user.id }}</td>
                        <td>{{ user.username }}</td>
                        <td>{{ user.token }}</td>
                        <td class="text-center">
                            {% if user.ban %}
                            <button
                                class="btn btn-sm btn-success"
                                onclick="location.href='/admin/allow_user?id={{ user.id }}'">
                                解封
                            </button>
                            {% else %}
                            <button
                                class="btn btn-sm btn-danger"
                                onclick="location.href='/admin/ban_user?id={{ user.id }}'">
                                封禁
                            </button>
                            {% endif %}
                            <button
                                class="btn btn-sm btn-danger"
                                onclick="location.href='/admin/del_user?id={{ user.id }}'">
                                删除
                            </button>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>

        <h1 style="display: inline-block;">管理员</h1>
        <button
            class="btn btn-sm btn-success"
            data-bs-toggle="modal"
            data-bs-target="#add_admin_modal">
            添加
        </button>
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>id</th>
                    <th>username</th>
                    <th class="text-center">操作</th>
                </tr>
            </thead>
            <tbody>
                {% for admin in admins %}
                <tr>
                    <td>{{ admin.id }}</td>
                    <td>{{ admin.username }}</td>
                    <td class="text-center">
                        <button
                            class="btn btn-sm btn-primary"
                            data-bs-toggle="modal"
                            data-bs-target="#edit_admin_modal"
                            onclick="show_edit_admin_modal(
                                id={{ admin.id }},
                                username='{{ admin.username }}'
                            )">
                            编辑
                        </button>
                        <button
                            class="btn btn-sm btn-danger"
                            onclick="location.href='/admin/del_admin?id={{ admin.id }}'">
                            删除
                        </button>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>

    </div>

    <div class="modal fade" id="add_admin_modal" data-bs-backdrop="static">
        <div class="modal-dialog">
            <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5">添加管理员</h1>
                <button class="btn-close" data-bs-dismiss="modal"></button>
            </div>
            <div class="modal-body">
            {{ form_style2(
                "",
                "/admin/add_admin",
                add_admin_form,
                "添加",
                msgs.get("add_admin_form")
            ) }}
            </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="edit_admin_modal" data-bs-backdrop="static">
        <div class="modal-dialog">
            <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5">编辑管理员信息</h1>
                <button class="btn-close" data-bs-dismiss="modal"></button>
            </div>
            <div class="modal-body">
            {{ form_style2(
                "",
                "/admin/edit_admin",
                edit_admin_form,
                "更改",
                msgs.get("edit_admin_form")
            ) }}
            </div>
            </div>
        </div>
    </div>

    {{ flash_toast() }}

</body>
{% endblock body %}

{% block script %}
<script>
const admin_id = document.getElementById("admin_id");
admin_id.style.display = "none";
admin_id.parentElement.style.marginBottom = "0";

function show_edit_admin_modal(id, username) {
    admin_id.value = id;
    document.getElementById("edit_admin_username").value = username;
}

</script>
{% endblock script %}
