<form class="form dropdown-menu text-center" action="/admin/update_redbag" method="post">
{{ form.csrf_token }}
<input name="redbag_id" type="hidden" value="{{ redbag.id }}">
<div class="form-group">
    {{ form.name.label }}
    {{ form.name(value=redbag.name, class='form-control') }}
</div>
<div class="form-group">
    {{ form.password.label }}
    {{ form.password(value=redbag.password, class='form-control') }}
</div>

<button class="btn btn-sm btn-success">确认更新</button>
</form>
