<form class="form" action="/admin/create_redbag" method="post">
<h3>添加红包</h3>
{{ form.csrf_token }}

<div class="form-group row">
    {{ form.name.label(class='col-md-2 col-form-label') }}
    <div class="col-md-10">
        {{ form.name(class='form-control') }}
    </div>
</div>

<div class="form-group row">
    {{ form.password.label(class='col-md-2 col-form-label') }}
    <div class="col-md-10">
        {{ form.password(class='form-control') }}
    </div>
</div>

<button class="btn btn-sm btn-success">添加</button>
{% if error %}{{ error }}{% endif %}
</form>
